h2{
    font-weight:500;
}

h3{
    font-weight:500;
    color:#525252;
}

.title {
    font-size: 15px;
    font-style:italic;
    flex-grow:0;
    color:#6191cc;
    font-weight:900;
}

.titlediv{
  display:flex;
  flex-direction:row;
  align-items: center;
}

.divider{
  flex-grow:0.04;
  height: 1px;
  background-color: #9f9f9f;
  margin:0 9px 0 0;
}

.timeline-img{
  width:60%; 
  border-radius:20px;
}



