h2{
    font-weight:500;
}

h3{
    font-weight:500;
    color:#525252;
}

h4{
    font-size:15px;
}

.title {
    font-size: 15px;
    font-style:italic;
    flex-grow:0;
    color:#6191cc;
    font-weight:900;
}

.titlediv{
  display:flex;
  flex-direction:row;
  align-items: center;
}

.divider{
  flex-grow:0.04;
  height: 1px;
  background-color: #9f9f9f;
  margin:0 9px 0 0;
}

.timeline-img{
  width:60%; 
  border-radius:20px;
}

.reveal{
  width:80%;   
}

.reveal div {
  border: none;
}

.reveal div {
  list-style: none;      
}

.reveal span{
  color:#6191cc;
  font-weight:900;
}

.tabs-title > a{
    font-size:18px;
    text-decoration: none;
    border-left: 1px solid;
    border-right: 1px solid;
}

.tabs{
    margin: 10px 27% 0 27%;
  border: none;
  width: 46%;
}



#scrollable {
  overflow-x: scroll;
}

#sortable {
  display: block;
  border-width: 6px 0;
  padding: 4px 0;
  width:calc(4 * 1050px + 1px); // 1px for dragging
}

.item {
  display: block;
  float: left;
  height: 100%;
  width: 600px;
  box-sizing: border-box; /* keep padding/border inside height/width */
  background-color: white;
}



